
#--------------------------
# Ant
#--------------------------

# Build zone data output

/data/zones/

# Build jar output

OpenSIMPPLLE.jar

#--------------------------
# IntelliJ
#--------------------------

# User Settings

.idea/tasks.xml
.idea/workspace.xml

# Build Directory

/out/

#--------------------------
# Eclipse
#--------------------------

# User Settings

.classpath
.factorypath
.project
.settings

# Build Directory

/classes/

#--------------------------
# Python
#--------------------------

*.pyc
*.pyd
*.pyo

#--------------------------
# Windows
#--------------------------

Thumbs.db
Desktop.ini

#--------------------------
# Mac OSX
#--------------------------

.DS_Store
._.DS_Store
